/* Elements on single project page */
h2{
    font-weight: 700;
    margin-top:2em;
    font-size: 1.8rem;
  }
  
  h2:first-child {
    margin-top: 0.5em;
  }
  
  figcaption h4 {
    font-size: 0.8em;
  }
  
  figure.course-photos {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .author-card {
    margin-top:3em;
  }
  
  .text-emphasis {
    color: #2962ff;
  }
  
  video {
    max-height:28em;
  }

/* Project section on homepage */
  .home-section {
      padding-top: 60px !important;
  }

  .project-showcase .project-item {
    background: #ffffff;
  }


/* Responsive breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .project-showcase {
    margin-left: 15px;
    margin-right:15px;
  }

  .article-title {
    font-size:1.5rem;
  }

  .project-item img {
    margin-bottom: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project-item img {
    margin-bottom: 0;
  }

}