/* Elements on single project page */
h2{
    font-weight: 700;
    margin-top:1em;
    font-size: 1.8rem;
  }
  
  h2:first-child {
    margin-top: 0.5em;
  }
  
  figcaption h4 {
    font-size: 0.8em;
    margin-bottom: 2rem;
  }
  
  figure.course-photos {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .author-card {
    margin-top:3em;
  }
  
  .text-emphasis {
    color: #2962ff;
  }
  
  video {
    max-height:28em;
  }

/* Project section on homepage */
  .home-section {
      padding-top: 60px !important;
  }

  .project-showcase .row {
    background:#ffffff;
  }

  .article-title {
    font-size:1.5rem;
  }

  .project-item img {
    margin-bottom: 1rem;
  }

/* Responsive breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .project-item img {
    margin-bottom: 0;
  }
  
  .container {
    max-width: 780px;
  }
}

/* Medium devices (desktops, 927px and up) */
@media (min-width: 927px) {
  .article-title {
    font-size:1.3rem;
  }

  .article-body-text {
    font-size:0.9rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project-item img {
    margin-bottom: 0;
  }

  .article-title {
    font-size:1.75rem;
  }
}